<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="avec-clone">
            <directory suffix="-test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
